body {
    color: #fff;
    background-color: #2d2d42;
}

a, a:focus, a:hover {
    color: #333;
}

#searchResults .card:hover {
    border-color: #28a745;
    cursor: pointer;
    box-shadow: 0px 0px 5px  0px #28a745;
    background-color: #e4ffe2;
}

#copyDiv {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#linkInput {
    font-size: 0.8rem;
}
